* {
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

.top {
  width: 190px; height: 20px;
  background-color: #222;
}
.box {
  width: 190px; height: 500px;
  background-color: #777;
}
.top2 {
  width: 600px; height: 20px;
  background-color: #04f;
}
.box2 {
  width: 600px; height: 500px;
  background-color: #26f;
}
.top3 {
  width: 600px; height: 20px;
  background-color: #154;
}
.box3 {
  width: 600px; height: 500px;
  background-color: #276;
}
