@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;

  user-select: none;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  width: 100vw;
  height: 100vh;

  font-size: 1.6vmin;
  
  background-color: #5e8517;
  overflow: hidden;
}

#game-title {
  height: 3%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: bold;
  font-size: 1.1em;

  background-color: #71a80a;
}
#field {
  display: inline-block;

  position: relative;
  left: max(0px, calc(50vw - 50vh));
  top: max(0px, calc(50vh - 50vw));

  width: 100vmin;
  height: 100vmin;

  background-color: #4e7506;
}
.field__item {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
}
.field__item.found {
  z-index: 10000;
  user-select: none;
  opacity: 0.6;

  animation: foundAni 8s linear infinite;
}
@keyframes foundAni {
  from {
    filter: drop-shadow(0 0 1vmin #fff) hue-rotate(0deg);
  }
  50% {
    filter : drop-shadow(0 0 1.5vmin #000) hue-rotate(180deg);
  }
  to {
    filter : drop-shadow(0 0 1vmin #fff) hue-rotate(360deg);
  }
}
